body {
    display: flex;
    border-color: black;
    border-width: 0px;
    border-style: solid;
    padding: 7px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    text-align: center;
}